body {
  height: 3000px;
}

p {
  margin: 0;
}

.main-content {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  padding-top: 40px;
}
.mid-section {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  justify-content: center;
}
.right-section {
  width: 200px;
  background-color: aqua;
}

.story-item img {
  width: 70px;
  border-radius: 50%;
}

.story {
  display: flex;
  column-gap: 20px;
}
.story-item {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: linear-gradient(45deg, red, orange);
  padding: 4px;
}
.story-item div {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .border-image {
  content: '';
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  border: 5px solid transparent;
  background: linear-gradient(to top right, red, blue) padding-box,
    linear-gradient(to top right, red, blue) border-box;
} */
