.post img {
  width: 300px;
  height: 400px;
  object-fit: cover;
}
.profile-post img {
  width: 40px;
  height: 40px;
}
.post {
  width: 300px;
}

.profile-post,
.profile-post .image {
  background-color: antiquewhite;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action,
.left {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}

.left img,
.right img {
  width: 30px;
  height: 30px;
}

.desc {
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.desc p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
