.post img {
  width: 300px;
  height: 400px;
  object-fit: cover;
}
.profile-post img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.post {
  width: 300px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  background-color: rgb(245, 245, 245);
}

.profile-post,
.profile-post .image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
}
.profile-post {
  padding-left: 10px;
}

.action,
.left {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}

.left img,
.right img,
.more-menu img {
  width: 20px;
  height: 20px;
}

.desc {
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.desc p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
